<div class="container" style="height: 100%">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center offset-sm-1 col-sm-10" style="height: 100%; margin-top:15%">

      <h2 (click)="startRecording()" class="h-100">{{buttontext}} <br> <fa name="microphone" size="2x"></fa></h2>
      <p> This is what we heard: {{speechData}}</p>
      <!--
      <div class="btn-group-vertical">
        <button (click)="startRecording()" class="btn btn-primary">
          <fa name="microphone" size="5x"></fa>
        </button>
        Data: {{speechData}}
      </div>
      -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3 text-center">
    </div>
  </div>
</div>
