#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.image {
  position: fixed;
  width: 100%; /* for IE 6 */
  height:100%;
  background-color: #AFD2E9;
}

h2 {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
  color: #FFFDE7;
  opacity: 0.5;
  font-size: 80px;
  font-family: Helvetica;
  text-shadow: 0 1px 0 black;
  background-color: black;
  border-radius: 15px;
  padding: 60px;
}

.dark-box {
  position: absolute;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background: #000;


}

